* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 40px 50px;
  display: flex;
  justify-content: center;
}
.frame {
  background-color: #232323;
  position: relative;
  display: inline-block;
}
.content {
  color: #fff;
  padding: 40px 50px;
  min-height: 8.5vw;
  display: flex;
  justify-content: center;
  align-items: ;
  height: 100%;
  box-shadow: 0 0 30px #000 inset;
}
